{% cache cache_duration, 'footer', g.lang_code|default(config.DEFAULT_LANGUAGE)|string,'-'.join((package_version('udata'), package_version('udata-front'))) %}
<footer role="contentinfo">
    {% include theme("participez/participez.html") %}
    <div class="fr-footer" id="footer">
        <div class="fr-footer__top">
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('The Open Data') }}</h3>
                        <ul class="fr-footer__top-list">
                            {% for item in nav.gouvpt_opendata %}
                            <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Support') }}</h3>
                        <ul class="fr-footer__top-list">
                            {% for item in nav.gouvpt_support %}
                            <li>
                                <a class="fr-footer__top-link" href="{{ item.url }}">{{ item.label }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <h3 class="fr-footer__top-cat">{{ _('Social networks') }}</h3>
                        <ul class="fr-footer__top-list socials fr-grid-row">
                            <li>
                                <a class="fr-footer__top-link fr-raw-link" href="https://twitter.com/Dadosgov/" title="Twitter">
                                    {% include theme('svg/socials/twitter.svg') %}
                                </a>
                            </li>
                            <li class="fr-ml-9v">
                                <a class="fr-footer__top-link fr-raw-link" href="https://www.linkedin.com/company/ama-gov-pt/" title="Linkedin">
                                    {% include theme('svg/socials/linkedin.svg') %}
                                </a>
                            </li>
                            <li class="fr-ml-9v">
                                <a class="fr-footer__top-link fr-raw-link" href="https://github.com/amagovpt/" title="Github">
                                    {% include theme('svg/socials/github.svg') %}
                                </a>
                            </li>
                        </ul>
                        <ul class="fr-footer__top-list fr-grid-row">
                            <!--
                            <li>
                                <a
                                    href="{{ url_for('datasets.recent_feed') }}"
                                    title="{{ _('RSS feed') }}"
                                    class="fr-footer__top-link"
                                >
                                    RSS
                                </a>
                            </li>
                            <li class="fr-ml-9v">
                                <a
                                    href="https://infolettres.etalab.gouv.fr/subscribe/rn7y93le1"
                                    title="{{ _('Newsletter') }}"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('Newsletter') }}
                                </a>
                            </li>
                            -->
                        </ul>
                    </div>
                    <div class="fr-col-12 fr-col-sm-3">
                        <div class="fr-footer__top-cat etalab-logo">
                            <a
                                href="https://www.ama.gov.pt/"
                                title="{{ _('Go to AMA') }}"
                                class="fr-raw-link"
                            >
                                {% include theme('svg/logo-ama.svg') %}
                            </a>
                        </div>
                        <!--
                        <ul class="fr-text--sm fr-my-0">
                            <li>{{ _('A DINUM department') }}</li>
                            <li>
                                <a
                                    href="https://numerique.gouv.fr"
                                    title="{{ _('DINUM website: numerique.gouv.fr') }}"
                                    class="fr-text--bold fr-footer__top-link w-100"
                                >
                                    numerique.gouv.fr
                                </a>
                            </li>
                        </ul>
                        -->
                        <ul class="fr-mt-3v text-grey-380 fr-footer__top-list">
                            <li>
                                <a
                                    href="https://github.com/opendatateam/udata/"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('Open-source engine: udata ({version})').format(
                                        version=package_version('udata')
                                    ) }}
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/amagovpt/udata-front-pt"
                                    title="{{ _('dados.gov.pt extension: udata-front') }}"
                                    class="fr-footer__top-link"
                                >
                                    {{ _('udata theme extension: udata-front ({version})').format(
                                        version=package_version('udata-front')
                                    ) }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-container">
            <div class="fr-footer__body">
                <div class="fr-footer__brand fr-enlarge-link">
                    <a href="/" title="Voltar para página inicial">
                        <p class="pt-logo" title="república portuguesa">
                            {% include theme('svg/marianne.svg') %}   
                            <br>Portal de dados abertos 
                            <br>da Administração Pública
                        </p>
                    </a>
                </div>
                <div class="fr-footer__content">
                    <ul class="fr-footer__content-list">
                        {% for item in nav.gouvpt_network %}
                        <li class="fr-footer__content-item">
                            <a class="fr-footer__content-link" href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="fr-col-6 fr-col-sm-4 fr-col-md-3 fr-col-lg-2 fr-ml-auto self-end">
                    <select
                            aria-label="{{ _('Language selector') }}"
                            class="fr-select"
                            onchange="location = location.href.replace(new RegExp('\/\\w{2}\/'), '/' + this.value + '/', regex=true)"
                        >
                            {% for code, name in config['LANGUAGES'].items() %}
                                {% if g.lang_code == code %}
                                <option value={{code}} selected>
                                    {{name}}
                                </option>
                                {% else %}
                                <option value={{code}}>
                                    {{name}}
                                </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                </div>
            </div>
            <div class="fr-footer__bottom">
                <ul class="fr-footer__bottom-list">
                    {% for item in nav.gouvpt_footer %}
                        <li class="fr-footer__bottom-item">
                            <a href="{{ '' if item.items else item.url }}" class="fr-footer__bottom-link">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="fr-footer__bottom-item">
                        <a href="https://www.ama.gov.pt/" class="fr-footer__bottom-link">
                            AMA - Agência para a Modernização Administrativa, I. P.
                        </a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a href="" class="fr-footer__bottom-link">
                            © 2024 DADOS.GOV.PT
                        </a>
                    </li>
                </ul>     
            </div>
        </div>
    </div>
</footer>
{% endcache %}
